.tic-tac-tie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    .square {
        border: 1px solid #000;
        float: left;
        font-size: 40px;
        width: 100px;
        height: 100px;
        padding: 0;
        text-align: center;
        margin-top: -1px;
        margin-right: -1px;
    }
}