.github-profile-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;

    input {
        padding: 12px;
        font-size: 16px;
        border: none;
    }

    button {
        padding: 5px 12px;
        border: none;
        border-radius: 8px;
        background: #ccc;
        cursor: pointer;
    }
}

.user {
    width: 100%;
    max-width: 1000px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;

    .avatar {
        height: 150px;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }

    .name-container {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 20px;

        p {
            margin: 0;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .profile-info {
        div {
            display: flex;
            justify-content: center;
            gap: 20px;
            font-size: 20px;
            font-weight: bold;

        }
    }
}