.star-wrapper {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;

    .active {
        color: #fff700;
    }
    
    .inactive {
        color: #000;
    }
}